@charset "UTF-8";

$rojo: red;
$amarillo: yellow;
$blanco: white;
$verde: green;
$negro: black;

/** Ejercicio 3 */
.españa {
    width: 500px;
    height: 300px;
    .rojo {
        width: 500px;
        height: 25%;
        background-color: $rojo;
    }
    .amarillo {
        width: 500px;
        height: 50%;
        background-color: $amarillo;
    }
}

.dinamarca {
    display: block;
    width: 500px;
    height: 300px;

    .linea_1 {
        background: linear-gradient(to right, $rojo 30%, $blanco 30% 40%, $rojo 40%);
        width: 100%;
        height: 40%;
    }

    .linea_2 {
        width: 100%;
        height: 20%;
    }

    .linea_3 {
        background: linear-gradient(to right, $rojo 30%, $blanco 30% 40%, $rojo 40%);
        width: 100%;
        height: 40%;
    }
}

.emiratos {
    display: block;
    width: 500px;
    height: 300px;

    .linea_1 {
        background: linear-gradient(to right, $rojo 25%, $verde 25%);
        width: 100%;
        height: 33%;
    }

    .linea_2 {
        background: linear-gradient(to right, $rojo 25%, $blanco 25%);
        width: 100%;
        height: 34%;
    }

    .linea_3 {
        background: linear-gradient(to right, $rojo 25%, $negro 25%);
        width: 100%;
        height: 33%;
    }
}

.japon {
    box-sizing: border-box;
    background-color: $blanco;
    width: 500px;
    height: 300px;

    .redondo_rojo {
        background-color: $rojo;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 50px;
        margin-left: 150px;
        float: left;
    }
}

.dinamarca-cajas {
    box-sizing: border-box;
    background-color: $rojo;
    width: 500px;
    height: 300px;
    .linea-vertical {
        box-sizing: border-box;
        position: absolute;
        height: 300px;
        width: 40px;
        background-color: $blanco;
        margin-left: 150px;
    }
    .linea-horizontal {
        box-sizing: border-box;
        position: absolute;
        height: 40px;
        width: 500px;
        background-color: $blanco;
        margin-top: 130px;
    }
}

.emiratos-cajas {
    box-sizing: border-box;
    background-color: $rojo;
    width: 500px;
    height: 300px;

    .verde {
        position: absolute;
        width: 500px;
        height: 100px;
        background-color: $verde;
    }
    .blanco {
        margin-top: 100px;
        position: absolute;
        width: 500px;
        height: 100px;
        background-color: $blanco;
    }
    .negro {
        position: absolute;
        margin-top: 200px;
        width: 500px;
        height: 100px;
        background-color: $negro;
    }
    .rojo {
        position: absolute;
        margin-top: 0px;
        margin-left: 0px;
        width: 120px;
        height: 300px;
        background-color: $rojo;
        z-index: 3;
    }
}
/** Fin Ejercicio 3 */

